[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-rest = "*"
pygments = "*"
ipython = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-autoslug = "*"
drf-yasg = "*"
django-countries = "*"
faker = "*"
gunicorn = "*"
django-on-heroku = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
